*.idea*
*__pycache__*
*migrations
*db.sqlite3
*.deb
.DS_Store
/nerpa_results
*~
external_tools
training_results
/input
debug
results
benchmarking
build
tmp
test_results
data/for_training_and_testing/nerpa1_results

# generated preprocessed data
data/input/preprocessed/
